<h1>Liste des livres</h1>
<table border="1">
    <tr>
        <th>Titre</th>
        <th>Content</th>
        <th>Author</th>
    </tr>
    {{#each livres}}
    <tr>
        <td>{{ this.titre }}</td>
        <td>{{ this.content }}</td>
        <td>{{ this.author }}</td>
    </tr>
    {{/each}}  
</table>
