<h1>Insert Data</h1>
<hr>
<form action="/add" method="post">
    <div>
        <label>Titre</label>
        <input type="text" name="titre" />
    </div>

    <div>
        <label>Content</label>
        <input type="text" name="content" />
    </div>

    <div>
        <label>Author</label>
        <input type="text" name="author" />
    </div>

    <button type="submit">INSERT</button>
</form>